.single-sdds_groupes {

	//En mobile et tablette 
	@media screen and (max-width:959px) {
		//bloc bleu pleine largeur collé au footer
		.bloc-bleu {
			@include bleed();
			margin-bottom: calc(-1* var(--margin-y-1));
		}
	}
	--carre:41.6rem;

	.bloc-bleu {
		background-color: var(--bleu);
		color:var(--blanc);
		margin-top: var(--margin-y-1);

		padding:3rem;
		h3 {
			color:var(--blanc);
		}
		ul:not([class]) li {
			margin-bottom: 0;
			&::before {
				color:var(--blanc);
				font-size: 70%;;
			}
		}
	}

	.intro {
		@include bleed();
		background-color: var(--fond);
		margin-bottom: var(--margin-y-1);
		padding:1rem 0; 
		.titre {
			padding:0 var(--padding-x);
		}
		
	}

	.pilotes {
		margin-bottom: var(--margin-y-1);
		padding:1rem var(--padding-x) 1px;
		.decor {
			display: none;
		}
	}

	.pilote {
		margin-bottom: 1rem;
	}

	.col-pilote {
		padding-bottom: 3rem;
		.label {
			color:var(--bleu);
		}
		.nom {
			color:var(--bleu);
			@include fs(20);
		}
		.nom, .fonction {
			margin-bottom: 0;
		}
	}

	.contenu {
		h2, h3 {
			@include fs(14);
			margin-bottom: 0;
		}
	}

	@include bp(lg) {
		.grille {
			align-items:flex-start;
			column-gap: 2rem;
			display: grid;
			grid-template-columns: 1fr var(--carre);
		}

		.bloc-bleu {
			margin-top: 0;
		}

		.intro {
			background-color: transparent;
			padding-bottom: 0;
		}

		.titre {
			margin-bottom: -3rem;
		}


		--bottom-decor-1:3rem;
		--left-decor-1:16%;

		--right-decor-2:3%;
		--top-decor-2:30%;


		--scale-decor-3:0.4;
		--bottom-decor-3:20%;
		--right-decor-3:-16rem;

		--left-decor-4:5.5%;
		--top-decor-4:18%;

		--scale-decor-5:0.3;
		--left-decor-5: 28%;
		--top-decor-5:10rem;
		
		.pilote {
			
			column-gap: 2rem;
			display: grid;
			grid-template-columns: repeat(2,1fr);
			

			&, .col-pilote, .video, .image {
				position:relative;
			}
			.col-pilote {
				padding-left:14rem;
				padding-top: 3rem;
			}

			.image {
				align-items: center;
				display: flex;
				height:100%;
				
			}
		}

		.pilotes {
			min-height:48rem;
			padding-top:12rem;
			padding-bottom:3rem;
			.decor {
				display: block;
				position: absolute;
				bottom:0;
				transform-origin: center bottom;
			}

			.bande {
				background-color: var(--fond);
				left:0;
				width:100%;
				height: calc(100% - 9rem);;
			}
			.fond {
				bottom:0px;
				height:90%;
				left:-15%;
				width:130%;
			
				img {
					object-fit: fill;
					height:100%;
					width:100%;
				}
			}


			.decor-1 {
				bottom:var(--bottom-decor-1);
				left:var(--left-decor-1);
			}

			.decor-2, .decor-3 {
				display: none;
			}
		
			

			.decor-4 {
				bottom:unset;
				left:var(--left-decor-4);
				top:var(--top-decor-4);
			}

			.decor-5 {
				bottom:unset;
				left:var(--left-decor-5);
				top:var(--top-decor-5);
			}
		}

	}

	@media screen and (min-width:1200px) {

		.pilote {
			.col-pilote {
				padding-left:6rem;
			}
		}

		.pilotes {

			.decor-2 {
				bottom:unset;
				display: block;
				right:var(--right-decor-2);
				top:var(--top-decor-2);
			}

			.decor-3 {
				bottom:var(--bottom-decor-3);
				display: block;
				right:var(--right-decor-3);
				transform:scale(var(--scale-decor-3));
				z-index:1;
			}

			
		}
	}
	@include bp(xl) {
		--left-decor-1:calc(var(--padding-x) - 1rem);

		--right-decor-2:calc(var(--padding-x) - 23rem);

		--scale-decor-3:0.6;
		--bottom-decor-3:10%;
		--right-decor-3:calc(var(--padding-x) - 35rem);

		--left-decor-4:calc(var(--padding-x) - 15rem);
		--top-decor-4:15%;

		--left-decor-5:calc(var(--padding-x) + 20rem);

		.pilotes {
			min-height:55rem;
			padding-top:16rem;
		}
		.pilote {
			grid-template-columns: repeat(3,1fr);

			.col-pilote {
				padding-left:0;
			}
		}
		.image, .video {
			grid-column: 2 / span 2;
		}
	}

	@media screen and (min-width:1700px) {
		--scale-decor-3:0.8;
		--bottom-decor-3:10%;
		--right-decor-3:calc(var(--padding-x) - 45rem);

		.pilotes {
			//min-height:unset;
			.fond {
				left:0;
				width:100%;
			}
		}
	}
}