//Vignette article pour pages archives (y compris recherche)
.post-summary {
	@include box-shadow();
	color:var(--noir);
	display: flex;
	flex-direction: column;
	margin:0 auto var(--margin-y-1);
	max-width:46rem;
	position:relative;
	
	p.entry-date {
		align-items: center;
		@include fs(11);
		display: flex;
		font-weight: 300;
		.picto-date {
			display: inline-block;
			margin-right: 2px;
		}
	}
}


.post-summary__title a {
	color:var(--noir);
	display: inline-block;
	@include fs(14);
	margin-bottom: 0.5em;
}
.post-summary__image {
	display: block;
	margin-bottom: 2.2rem;
	img {
		aspect-ratio:1;
		display: block;
		width:100%;
	}
	&.contain {
		border-bottom:solid 1px lightgrey;
		padding:1rem;
		img {
			object-fit: contain;
		}
	}

	@supports not (aspect-ratio: auto) { 
		height: 293px;
		img {
			height:100%;
		}
	}
}




.post-summary__content {
	@include fs(13);
	padding:1rem 3rem;
	display: flex;
	flex-direction: column;
	position: relative;
	.debut-content {
		display: none;
	}
}

.picto-cat {
	@include box-shadow();
	background-color: var(--orange);
	height: 55px;
	padding:8px 5px;
	position: absolute;
	right:10px;
	width:29px;
	top:-28px;
	img {
		object-fit: contain;
		width:100%;
	}
}

@include bp(md) {
	.post-summary {
		flex-direction: column;
	}
	.post-summary__image {
		flex:unset;
		margin-right:unset;
	}
	.post-summary__content {
		flex-grow:1;
		padding:1rem 3rem;
	}

	
}

@include bp(lg) {
	//Premier article occupe toute la largeur de la grille en desktop, sur le blog uniquement
	body.blog {
		.post-summary:first-of-type {
			grid-column: 1 / span 3;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: var(--margin-y-1);
			box-shadow: unset;

			.post-summary__image {
				margin-bottom: 0;
				padding:0;
				img {
					aspect-ratio: unset;
					height:100%;
				}
			}
			.picto-cat {
				display: none;
			}

			.post-summary__content {
				@include box-shadow();
				grid-column: 2 / span 2;
				padding:60px 60px 40px;
				.extrait {
					display: none;
				}
				.debut-content {
					display: block;
				}
			}
		}
	}
	
}